# Virtual Environment

.venv/
venv/

# Python Cache

**pycache**/
*.pyc
*.pyo
*.pyd

# VS Code

.vscode/

# Streamlit Secrets

.streamlit/secrets.toml

# macOS

.DS_Store

# Environment Variables

.env

# Uploaded Files

uploads/
uploaded/

# Logs

*.log

# Jupyter

.ipynb_checkpoints/

# Build Files

dist/
build/

# Temporary Files

temp/
tmp/
